@model FC.Entities.FC_Supplier

<script type="text/javascript">

    function SaveDocument() {
        $('#SuccessMessage').hide(1000);
        $.ajax({
            url: 'SaveSupplier',
            type: 'POST',
            data: $('#SupplierForm').serialize(),
            success: function (data) {

                $('#SuccessMessage').show(1000);
                $('html, body').animate({ scrollTop: 0 }, 800);
                ClearAll();
                $("#DivRef").html(data);
                //alert('Supplier added successfully');
            }
        });
    }

    function EditDocument(supplierid) {
        $('#SuccessMessage').hide(1000);
        $.ajax({
            url: 'EditSupplier',
            type: 'get',
            data: { supplierId: supplierid},
            success: function (data) {             
                $('html, body').animate({ scrollTop: 0 }, 800);
                $("#divSupplierForm").html(data);
                //alert('Supplier added successfully');
            }
        });
    }

    function ClearAll() {
        $('#SupplierForm').closest('form').find("input[type=text], textarea").val("");

    }

</script>

<form id="SupplierForm">
    <div class="col-sm-6" style="padding-left:0px!important;" >
        <div class="box form-horizontal">
            <div class="box-inner">
                <div class="jumbotron">
                    <div class="form-group">

                        <label>Name</label>
                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control input-group-lg reg_name", @maxlength = 50 })
                        @Html.HiddenFor((c=>c.Id))
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control input-group-lg reg_name", @maxlength = 50 })
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        @Html.TextAreaFor(c => c.Address, new { @class = "form-control input-group-lg reg_name", style = "height:100px;" })

                    </div>


                    <div class="form-group">
                        <div class="col-sm-7" style="padding-left:0px!important;">
                            <label>Contact Person 1</label>
                            @Html.TextBoxFor(c => c.ContactPerson1, new { @class = "form-control input-group-lg reg_name", @maxlength = 60 })
                        </div>
                        <div class="col-sm-5" style="padding-right:0px!important;">
                            <label>Contact No. 1</label>
                            @Html.TextBoxFor(c => c.ContactNumber1, new { @class = "form-control input-group-lg reg_name", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @maxlength = 10 })
                        </div>
                    </div><!--/form-group-->

                    <div class="form-group">
                        <div class="col-sm-7" style="padding-left:0px!important;">
                            <label>Contact Person 2</label>
                            @Html.TextBoxFor(c => c.ContactPerson2, new { @class = "form-control input-group-lg reg_name", @maxlength = 60 })
                        </div>
                        <div class="col-sm-5" style="padding-right:0px!important;">
                            <label>Contact No. 2</label>
                            @Html.TextBoxFor(c => c.ContactNumber2, new { @class = "form-control input-group-lg reg_name", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @maxlength = 10 })
                        </div>
                    </div><!--/form-group-->

                    <div class="form-group">
                        <div class="col-sm-7" style="padding-left:0px!important;">
                            <label>Bank Name1</label>
                            @Html.TextBoxFor(c => c.BankName1, new { @class = "form-control input-group-lg reg_name", @maxlength = 60 })
                        </div>
                        <div class="col-sm-5" style="padding-right:0px!important;">
                            <label>Bank Acc. No. 1</label>
                            @Html.TextBoxFor(c => c.BankAccountNumber1, new { @class = "form-control input-group-lg reg_name", @maxlength = 30 })
                        </div>
                    </div><!--/form-group-->


                    <div class="form-group">
                        <div class="col-sm-7" style="padding-left:0px!important;">
                            <label>Bank Name 2</label>
                            @Html.TextBoxFor(c => c.BankName2, new { @class = "form-control input-group-lg reg_name", @maxlength = 60 })
                        </div>
                        <div class="col-sm-5" style="padding-right:0px!important;">
                            <label>Bank Acc. No. 2</label>
                            @Html.TextBoxFor(c => c.BankAccountNumber2, new { @class = "form-control input-group-lg reg_name", @maxlength = 30 })
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" onclick="SaveDocument()">Submit</button>
                        <button class="btn">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
