@model SIMS.Models.PurchaseOrderModel

<script type="text/javascript" charset="utf-8">
    var dataTable = $('.datatable').dataTable({
        "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records per page"

        }
    });

    function DeleteProductPO(PurchaseOrderProductId) {
        $('#SuccessMessage').hide(1000);
        if (confirm('Are you sure want to delete Purchase Order?')) {
            $.ajax({
                url: 'RemoveProductInorder',
                type: 'get',
                data: { PurchaseOrderProductId: PurchaseOrderProductId },
                success: function(data) {
            
                    $("#divPOAdd").html(data);
                }
            });
        }
    }
</script>
<style>
    .dataTables_filter, .dataTables_info { display: none; }
    .dataTables_wrapper .fg-toolbar { display: none; }
    .dataTables_length, .dataTables_info { display: none; }
    .pagination{margin:0px;}
</style>


    <table id="PODataTable" class="table table-striped table-bordered bootstrap-datatable datatable responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Product code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Amount</th>
                <th>Action</th>
               

            </tr>
        </thead>

        <tbody>
            @{
           
                foreach (var objPO in Model.PurchaseOrderProductModelList)
                {
                <tr>
                    <td>@Html.Raw(objPO.Product.ProductCode)</td>
                    <td>@Html.Raw(objPO.Product.Name)</td>
                    <td>@Html.Raw(objPO.Quantity)</td>
                    <td><span class="WebRupee">&#x20B9; </span>@Html.Raw(objPO.Product.PurchasePrice)</td>
                    <td> <span class="WebRupee">&#x20B9; </span>@Html.Raw(objPO.ProductTotalAmount)</td>
                    <td class="center">

     
                     
                        <a class="btn btn-danger" href="#" onclick="DeleteProductPO(@objPO.PurchaseOrderProductId)">
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Remove
                        </a>
                    </td>
                </tr>
                }
            }

        </tbody>
    </table>
 
<hr />
 
    <h5 style="float:right;padding-right:5%">

        <label>Sub Amount: </label>

        @{
            if (ViewBag.POTotalAmount != null)
            {
                <u style="font-weight: bold;white-space:normal;font-size:100%;" class="label label-default" id="USubTotal">
                    <span class="WebRupee">&#x20B9; </span>
                    <div id="spnSubTotal" style="display: inline;"> @Html.Raw((int)ViewBag.POTotalAmount) </div>
</u>
            }
            else
            {
                <u style="font-weight: bold;white-space:normal;font-size:100%;" class="label label-default" id="USubTotal">
                    <span class="WebRupee">&#x20B9; </span>
                    <div id="spnSubTotal" style="display: inline;">  @Html.Raw("0")</div>
</u>
            }
        }
        </h5>

<br>
<script type="text/javascript">
    function CalculateTotalAmount()
    {
        var subTotal =  parseFloat($("#spnSubTotal").html());
        var otherAmount = parseFloat($('#OtherAmount').val());
        var salesTax = parseFloat($('#SalesTax').val());
        var salesTaxAmount = parseFloat(subTotal * (salesTax / 100));
        var totalAmount = parseFloat(subTotal + otherAmount + salesTaxAmount);
        $("#spnTotalAmount").html(totalAmount.toFixed(2));
    }
</script>
 
    <div class="col-sm-3" style="padding-left:0px!important;">
        <label>Tax(%): </label>
        @Html.TextBoxFor(c => c.SalesTax, new { @class = "form-control input-group-lg reg_name", style = "width:100%;", onblur="CalculateTotalAmount()"})
    </div>
    <div class="col-sm-3" style="padding-left:0px!important;">
        <span style="float:right;padding-right:5%">
            <label>Other(<span class="WebRupee">&#x20B9; </span>): </label>
           @Html.TextBoxFor(c => c.OtherAmount, new { @class = "form-control input-group-lg reg_name", style = "width:100%;", onblur="CalculateTotalAmount()"})
        </span>

    </div>
    <div class="col-sm-6" style="padding-left:0px!important;">

        <h4 style="float:right;padding-right:5%">

            <label>Total Amount: </label>

            @{
                if (ViewBag.POTotalAmount != null)
                {
                    <u style="font-weight: bold;white-space:normal;font-size:100%;" class="label label-primary">
                        <span class="WebRupee">&#x20B9; </span>
                        <div id="spnTotalAmount" style="display: inline;">
                            @Html.Raw((int)ViewBag.POTotalAmount)
                        </div>
                    </u>
                }
                else
                {
                    <u style="font-weight: bold;white-space:normal;font-size:100%;" class="label label-primary">
                        <span class="WebRupee">&#x20B9; </span>
                        <div id="spnTotalAmount" style="display: inline;"> @Html.Raw("0") </div>
                    </u>
                }
            }

        </h4>

    </div>    
<style>
    .modal-body {
        max-height: 800px;
        width:60%
    }
</style>
 