@using SIMS.Models
@model SIMS.Models.PurchaseOrderModel



<html>
<head>
    <title></title>
    <style type="text/css" src="http://localhost:51198/Content/rupeefont/rupeefont.css"></style>
</head>

<body >
    <table style="border:1px black solid; width:100%;max-height:947px;font-size:small;font-family:sans-serif;">

        <tr>
            <td style="border-bottom-width: 1px; border-bottom-style: solid;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0; border-bottom-color: black;font-size:25px;text-align:left; vertical-align:middle;" colspan="4">
                <img  width="200" src="http://localhost:51198/img/logo.jpg" />
                
              

            </td>



            <td style="text-align:center; vertical-align:bottom;background-color:#d9d9d9;   
 margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;font-size:25px;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;" colspan="3">
                PURCHASE ORDER
            </td>

        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                [Street Address]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>



            <td colspan="2" style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black;border-left-width: 1px; border-left-style: solid; border-left-color: black;text-align:left; vertical-align:middle;">
                Date
            </td>
            <td style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;text-align:left; vertical-align:middle;" sdval="42381" sdnum="1033;1033;M/D/YYYY">
                1/12/2016
            </td>

        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                [City, ST  ZIP]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>



            <td colspan="2" style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black;border-left-width: 1px; border-left-style: solid; border-left-color: black; text-align:left; vertical-align:middle;">
                PO #
            </td>
            <td style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align:left; vertical-align:middle;">
                [123456]
            </td>

        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                Phone: (000) 000-0000
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>


            <td colspan="2" style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black;border-left-width: 1px; border-left-style: solid; border-left-color: black; text-align:left; vertical-align:middle;">
                Payment Terms
            </td>
            <td style="margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align:left; vertical-align:middle;">
                60 Days
            </td>

        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                Fax: (000) 000-0000
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>



            <td colspan="2" style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black;border-left-width: 1px; border-left-style: solid; border-left-color: black; text-align:left; vertical-align:middle;">
                Shipping Date
            </td>
            <td style="   margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align:left; vertical-align:middle;">
                21-Mar-2012
            </td>


        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                Website:
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>


            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>


        </tr>
        <tr>

            <td style="text-align:left; vertical-align:middle;" colspan="7"><br /><br /></td>




        </tr>
        <tr>
            <td height="24" style="text-align:left; vertical-align:middle;background-color:#d9d9d9"  colspan="7">
                <b> TO : </b>
            </td>
          
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle; height:25px;" colspan="2">
                [Company Name]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>

        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                [Contact or Department]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                [Street Address]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                [City, ST  ZIP]
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                Phone: (000) 000-0000
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle;" colspan="3" border="0"></td>
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;" colspan="2">
                Fax: (000) 000-0000
            </td>
            <td style="text-align:left; vertical-align:middle;" colspan="2"></td>
            <td style="text-align:left; vertical-align:middle; " colspan="3" border="0"></td>
        </tr>
        <tr>
            <td height="19" style="text-align:left; vertical-align:middle;height:25px;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
            <td style="text-align:left; vertical-align:middle;"></td>
        </tr>
        <tr>
            <td style="text-align:center;height:25px; vertical-align:middle;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black; background-color:#BFBFBF;">
                <b>&nbsp; &nbsp;  ITEM # </b>
            </td>
            <td style="height:25px; vertical-align:middle;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black; background-color:#BFBFBF;" colspan="3">
                <b> DESCRIPTION </b>
            </td>
            <td style="height:25px;text-align:center; vertical-align:middle;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black; background-color:#BFBFBF;">
                <b> QTY </b>
            </td>
            <td style="height:25px;text-align:center; vertical-align:middle;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;border-right-width: 1px; border-right-style: solid; border-right-color: black; background-color:#BFBFBF;">
                <b> UNIT PRICE </b>
            </td>
            <td style="height:25px;text-align:center; vertical-align:middle;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; background-color:#BFBFBF;">
                <b> TOTAL </b>
            </td>



        </tr>

        @{
            var i = 1;
            var lstprintableitem = Model.PurchaseOrderProductModelList;
            if (lstprintableitem.Count < 10)
            {
                var itemcnt = lstprintableitem.Count;
                for (var j = itemcnt; j <= 10; j++)
                {
                    lstprintableitem.Add(new PurchaseOrderProductModel());
                   j++;
                }
            }
            foreach (var objPo in lstprintableitem)
         {
             if (objPo.Product != null)
             {
                 <tr>
                
                     <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: left; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle; height: 25px;" height="19">
                         @Html.Raw(i + ")")&nbsp; &nbsp; &nbsp;  @Html.Raw(objPo.Product.ProductCode)
                     </td>
                     <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: left; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;" colspan="3">
                         @Html.Raw(objPo.Product.Name)
                     </td>
                     <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;">
                         @Html.Raw(objPo.Quantity)
                     </td>
                     <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;">
                         <span class="WebRupee">&#x20B9; </span>@Html.Raw(objPo.Product.PurchasePrice)
                     </td>
                     <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; vertical-align: middle; background-color: #F2F2F2">
                         <span class="WebRupee">&#x20B9; </span>@Html.Raw(objPo.ProductTotalAmount)
                     </td>

                 </tr>
             }
             else
             {
                <tr>

                    <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: left; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle; height: 25px;" height="19">
                        &nbsp; 
                    </td>
                    <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: left; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;" colspan="3">
                        &nbsp; 
                    </td>
                    <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;">
                        &nbsp; 
                    </td>
                    <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: black; vertical-align: middle;">
                        &nbsp; 
                    </td>
                    <td style="height: 25px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black; text-align: center; vertical-align: middle; background-color: #F2F2F2">
                        &nbsp; 
                    </td>

                </tr>
             }
             i++;
         } }


        <tr>
            <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;text-align:center; vertical-align:middle;" colspan=4 height="24">
                <br />
            </td>
            <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;text-align:center; vertical-align:middle;">
                [42]
            </td>
            <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;text-align:center; vertical-align:middle;">
                SUBTOTAL
            </td>
            <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: black;text-align:center; vertical-align:middle;background-color:#F2F2F2;">
                2,325.00
            </td>


        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid; background-color:#BFBFBF">
                <b>
                    Note:
                </b>
            </td>
            <td style="text-align:left; vertical-align:middle;" border="0"></td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                TAX
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                -
            </td>

        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left;border: 1px #d9d9d9 solid; vertical-align:middle;font-size:x-small;">



                1.Please send two copies of your invoice.


            </td>
            <td style="text-align:left; vertical-align:middle;" border="0">
                <br />
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                SHIPPING
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                -
            </td>


        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left; border: 1px #d9d9d9 solid;vertical-align:middle;font-size:x-small;">

                2.Enter this order in accordance with the prices, terms, delivery method, and specifications listed above.

            </td>
            <td style="text-align:left; vertical-align:middle;" border="0">
                <br />
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                OTHER
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                -
            </td>


        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;font-size:x-small;">

                3.Please notify us immediately if you are unable to ship as specified.

            </td>
            <td style="text-align:left; vertical-align:middle;" border="0">
                <br />
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                <b> TOTAL </b>
            </td>
            <td style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;">
                <b>  <span class="WebRupee">&#x20B9; </span>2,325.00 </b>
            </td>


        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;font-size:x-small;">
                4.Late delivery will be subject to cancellation.
            </td>
            <td style="text-align:left; vertical-align:middle;" border="0">
                <br />
            </td>
            <td style="text-align:left; vertical-align:bottom;">
                <br />
            </td>
            <td style="text-align:left; vertical-align:bottom;" colspan="3">
                <br />
            </td>

        </tr>
        <tr>
            <td colspan=4 height="24" style="text-align:left; vertical-align:middle;border: 1px #d9d9d9 solid;font-size:x-small;">
                5. [Comment]
            </td>
            <td style="text-align:left; vertical-align:middle;" border="0">
                <br />
            </td>
            <td style="text-align:left; vertical-align:bottom;">
                <br />
            </td>
            <td style="text-align:left; vertical-align:bottom;" colspan="3">
                <br />
            </td>

        </tr>

        <tr>
            
            
            <td style="text-align:left; vertical-align:bottom;" colspan="4">
                <br />
                <br />
                <br />
                <br />
                <br />
                Prepared By,

            </td>
            <td style="text-align:left; vertical-align:bottom;" colspan="4">
                <br />
                <br />
                <br />
                <br />
                <br />
                Approved By,
                

            </td>
           
        </tr>


        <tr>


           
            <td style="text-align:left; vertical-align:bottom;" colspan="3">
                <br />
                <br />
                <br />
                <br />
                ________________________________________
            </td>

            <td style="text-align:left; vertical-align:bottom;" colspan="3">
                <br />
                <br />
                <br />
                <br />
                ________________________________________
            </td>

           
        </tr>
        <tr>



            <td style="text-align:left;" colspan="3">
                <br />
                <br />
                <br />
                
            </td>

            <td style="text-align:left;" colspan="3">
                <br />
                <br />
                <br />
                
            </td>


        </tr>
    </table>







</body>

</html>