@model SIMS.Models.PurchaseOrderModel



    <table cellspacing="0" border="0">
        <colgroup width="117"></colgroup>
        <colgroup width="80"></colgroup>
        <colgroup width="79"></colgroup>
        <colgroup width="117"></colgroup>
        <colgroup width="82"></colgroup>
        <colgroup width="89"></colgroup>
        <colgroup width="99"></colgroup>
        <tr>
            <td align="left" colspan=2 valign=middle><font face="Arial" size=4>[Company Name]</font></td>

            <td align="left" valign=bottom><font size=4><br></font></td>
            <td align="left" valign=bottom><font size=4><br></font></td>
            <td align="left" valign=bottom><br></td>

            <td align="right" colspan=2 valign=bottom><b><font face="Arial" size=4 color="#000000">PURCHASE ORDER</font></b></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[Street Address]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

            <td colspan=2 style="border:1px solid #000000" align="left" valign=middle><font face="Arial" size=2> Date</font></td>
            <td style="border:1px solid #000000" align="left" valign=middle sdval="42381" sdnum="1033;1033;M/D/YYYY"><font face="Arial">1/12/2016</font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[City, ST  ZIP]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

            <td colspan=2 style="border:1px solid #000000" align="left" valign=middle><font face="Arial" size=2> PO #</font></td>
            <td style="border:1px solid #000000" align="left" valign=middle><font face="Arial">[123456]</font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">Phone: (000) 000-0000</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td colspan=2 style="border:1px solid #000000" align="left" valign=middle><font face="Arial" size=2> Payment Terms</font></td>
            <td style="border:1px solid #000000" align="left" valign=middle><font face="Arial">60 Days</font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">Fax: (000) 000-0000</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td colspan=2 style="border:1px solid #000000" align="left" valign=middle><font face="Arial" size=2> 	Shipping Date</font></td>
            <td style="border:1px solid #000000" align="left" valign=middle><font face="Arial">21-Mar-2012</font></td>


        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">Website: </font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="24" align="left" valign=middle bgcolor="#d9d9d9"><b><font face="Arial">TO :</font></b></td>
            <td align="left" valign=middle><b><font face="Arial" color="#FFFFFF"><br></font></b></td>
            <td align="left" valign=middle><b><font face="Arial" color="#FFFFFF"><br></font></b></td>


        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[Company Name]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[Contact or Department]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[Street Address]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">[City, ST  ZIP]</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">Phone: (000) 000-0000</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial">Fax: (000) 000-0000</font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td height="19" align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><font face="Arial"><br></font></td>

        </tr>
        <tr>
            <td style="border-top: 1px solid #3b4e87; border-bottom: 1px solid #3b4e87; border-left: 1px solid #3b4e87" height="24" align="center" valign=middle bgcolor="#d9d9d9" sdnum="1033;0;0.00%"><b><font face="Arial">ITEM #</font></b></td>
            <td style="border-top: 1px solid #3b4e87; border-bottom: 1px solid #3b4e87" colspan=3 align="center" valign=middle bgcolor="#d9d9d9" sdnum="1033;0;0.00%"><b><font face="Arial">DESCRIPTION</font></b></td>
            <td style="border-top: 1px solid #3b4e87; border-bottom: 1px solid #3b4e87" align="center" valign=middle bgcolor="#d9d9d9"><b><font face="Arial">QTY</font></b></td>
            <td style="border-top: 1px solid #3b4e87; border-bottom: 1px solid #3b4e87" align="center" valign=middle bgcolor="#d9d9d9"><b><font face="Arial">UNIT PRICE</font></b></td>
            <td style="border-top: 1px solid #3b4e87; border-bottom: 1px solid #3b4e87; border-right: 1px solid #3b4e87" align="center" valign=middle bgcolor="#d9d9d9"><b><font face="Arial">TOTAL</font></b></td>


        </tr>
        
        @{

            foreach (var objPO in Model.PurchaseOrderProductModelList)
            {

                <tr>
                    <td style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="left" valign=middle><font face="Arial">@Html.Raw(objPO.Product.ProductCode)</font></td>
                    <td style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="left" valign=middle><font face="Arial">@Html.Raw(objPO.Product.Name)</font></td>
                    <td style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdval="15" sdnum="1033;"><font face="Arial">@Html.Raw(objPO.Quantity)</font></td>
                    <td style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="150" sdnum="1033;0;"><font face="Arial"> <span class="WebRupee">&#x20B9; </span>@Html.Raw(objPO.Product.PurchasePrice) </font></td>
                    <td style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle bgcolor="#F2F2F2" sdval="2250" sdnum="1033;"><font face="Arial"> <span class="WebRupee">&#x20B9; </span>@Html.Raw(objPO.ProductTotalAmount) </font></td>
                </tr>
            }
        }
        
     
        <tr>
            <td style="border-top: 1px solid #000000" colspan=4 height="24" align="center" valign=middle><br></td>
            <td style="border-top: 1px solid #000000" align="left" valign=middle><font size=1 color="#FFFFFF">[42]</font></td>
            <td style="border-top: 1px solid #000000" align="left" valign=middle><font face="Arial">SUBTOTAL</font></td>
            <td style="border-top: 1px solid #000000" align="right" valign=middle bgcolor="#F2F2F2" sdval="2325" sdnum="1033;"><font face="Arial"> 2,325.00 </font></td>


        </tr>
        <tr>
            <td style="border-top: 1px solid #a6a6a6; border-bottom: 1px solid #a6a6a6; border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle bgcolor="#BFBFBF">
                <b>
                    <font face="Arial">Note:</font>
                </b>
            </td>
            <td align="left" valign=middle>
                <font size=1 color="#FFFFFF">
                    <br>
                </font>
            </td>
            <td align="left" valign=middle><font face="Arial">TAX</font></td>
            <td style="border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0" align="right" valign=middle sdval="0" sdnum="1033; "><font face="Arial"> -   </font></td>

        </tr>
        <tr>
            <td style="border-top: 1px solid #a6a6a6; border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle>
                <font face="Arial">
                    <br>

                    1.Please send two copies of your invoice.

                </font>
            </td>
            <td align="left" valign=middle><br></td>
            <td align="left" valign=middle><font face="Arial">SHIPPING</font></td>
            <td style="border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0" align="right" valign=middle sdval="0" sdnum="1033; "><font face="Arial"> -   </font></td>


        </tr>
        <tr>
            <td style="border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle>
                <font face="Arial">
                    <br>2.Enter this order in accordance with the prices, terms, delivery method, and specifications listed above.
                </font>
            </td>
            <td align="left" valign=middle><br></td>
            <td style="border-bottom: 3px double #000000" align="left" valign=middle><font face="Arial">OTHER</font></td>
            <td style="border-top: 1px solid #c0c0c0; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0" align="right" valign=middle sdval="0" sdnum="1033; "><font face="Arial"> -   </font></td>


        </tr>
        <tr>
            <td style="border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle>
                <font face="Arial">
                    <br>3.Please notify us immediately if you are unable to ship as specified.
                </font>
            </td>
            <td align="left" valign=middle><br></td>
            <td align="left" valign=middle><b><font face="Arial">TOTAL</font></b></td>
            <td style="border-top: 3px double #000000" align="right" valign=middle bgcolor="#d9d9d9" sdval="2325" sdnum="1033;"><b><font face="Arial"> $2,325.00 </font></b></td>


        </tr>
        <tr>
            <td style="border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle><font face="Arial"><br>4.Late delivery will be subject to cancellation.</font></td>
            <td align="left" valign=middle><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #a6a6a6; border-left: 1px solid #a6a6a6; border-right: 1px solid #a6a6a6" colspan=4 height="24" align="left" valign=middle><font face="Arial"><br></font></td>
            <td align="left" valign=middle><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
            <td align="left" valign=bottom><br></td>
        </tr>

       

    </table>


